/*---------------------------------------------------------------------
    File Name: style.css
---------------------------------------------------------------------*/

/*---------------------------------------------------------------------
    import Fonts
---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****----------------------------------------
     1) font-family: 'Rajdhani', sans-serif;  
     2) font-family: 'Poppins', sans-serif; 
----------------------------------------*****/

/*---------------------------------------------------------------------
    import Files
---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*---------------------------------------------------------------------
    skeleton
---------------------------------------------------------------------*/

body {
	color: #666666;
	font-size: 14px;
	font-family: 'lato', sans-serif;
	line-height: 1.80857;
	font-weight: normal;
	overflow-x: hidden;
}

a {
	color: #1f1f1f;
	text-decoration: none !important;
	outline: none !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 0;
	font-weight: normal;
	position: relative;
	padding: 0 0 10px 0;
	font-weight: normal;
	line-height: normal;
	color: #111111;
	margin: 0
}

h1 {
	font-size: 24px
}

h2 {
	font-size: 22px
}

h3 {
	font-size: 18px
}

h4 {
	font-size: 16px
}

h5 {
	font-size: 14px
}

h6 {
	font-size: 13px
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #212121;
	text-decoration: none!important;
	opacity: 1
}

button:focus {
	outline: none;
}

ul,
li,
ol {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

p {
    margin: 0px;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #212222;
}

a {
	color: #222222;
	text-decoration: none;
	outline: none !important;
}

a,
.btn {
	text-decoration: none !important;
	outline: none !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
}

:focus {
	outline: 0;
}

.btn-custom {
	margin-top: 20px;
	background-color: transparent !important;
	border: 2px solid #ddd;
	padding: 12px 40px;
	font-size: 16px;
}

.lead {
	font-size: 18px;
	line-height: 30px;
	color: #767676;
	margin: 0;
	padding: 0;
}

.form-control:focus {
	border-color: #ffffff !important;
	box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
	border: none !important;
}

.badge {
	font-weight: 500;
}

blockquote {
	margin: 20px 0 20px;
	padding: 30px;
}

button {
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.full {
	float: left;
	width: 100%;
}

.layout_padding {
	padding-top: 90px;
	padding-bottom: 90px;
}

.layout_padding_2 {
	padding-top: 75px;
	padding-bottom: 75px;
}

.light_silver {
	background: #f9f9f9;
}

.theme_bg {
	background: #38c8a8;
}

.margin_top_30 {
	margin-top: 30px !important;
}

.full {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}

.blog_blue_bg {
    position: relative;
}

.blog_blue_bg::after {
    width: 70%;
    content: "";
    max-height: 485px;
    background: #184091;
    position: absolute;
    top: 28%;
    height: 100%;
    margin: 0 15%;
}

.blog_blue_bg .row {
    position: relative;
    z-index: 2;
}

/**-- heading section --**/

.main_heading {
	text-align: center;
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: 50px;
}

.main_heading h2 {
	padding: 0;
	font-size: 48px;
	line-height: 60px;
	font-weight: 400;
	position: relative;
	letter-spacing: -0.5px;
	color: #114c7d;
	border-left: solid #38c8a8 10px;
	padding-left: 15px;
}

.main_heading h2 strong {
	background: #38c8a8;
	color: #fff;
	font-weight: 600;
	padding: 0 15px;
	line-height: 68px;
}

.white_heading_main h2 {
	color: #fff;
}

.small_main_heading {
	margin-top: 25px;
	float: left;
	width: 100%;
	border-bottom: solid rgba(0, 0, 0, 0.07) 1px;
	margin-bottom: 25px;
}

.small_main_heading h2 {
	padding: 2px 0 20px 0;
	color: #114c7d;
	font-weight: 400;
	font-size: 28px;
	background-image: url('../images/fevicon.png');
	background-repeat: no-repeat;
	padding-left: 55px;
	letter-spacing: -0.5px;
}

.small_main_heading h2 strong {
	color: #38c8a8;
	font-weight: 600;
}

.main_bt {
	background: #38c8a8;
	color: #fff;
	padding: 8px 25px 8px 20px;
	float: left;
	font-size: 15px;
	font-weight: 300;
	border-left: solid #114c7d 5px;
	border-radius: 0;
}

a.readmore_bt {
	color: #fff;
	font-weight: 300;
	text-decoration: underline !important;
}

.main_bt:hover,
.main_bt:focus {
	background: #114c7d;
	border-left: solid #38c8a8 5px;
	color: #fff;
}

/**-- list icon --**/

.ul_list_info_icon ul {
	list-style: none;
}

.ul_list_info_icon ul li {
	display: inline;
	float: left;
	width: 100%;
}

.ul_list_info_icon ul li img {
	width: 75px;
}



/*----------------------------
    scroll to top area
----------------------------*/

.scrollup {
	float: right;
	position: absolute;
	color: #fff;
	right: 20px;
	padding: 0px 5px;
	text-transform: uppercase;
	font-weight: 600;
	background: #38c8a8;
	position: fixed;
	bottom: 20px;
	z-index: 99;
	text-align: center;
	color: #fff;
	cursor: pointer;
	border-radius: 0px;
	opacity: 0;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	transition: .2s all ease;
	-moz-transition: .2s all ease;
	-o-transition: .2s all ease;
	-webkit-transition: .2s all ease;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	line-height: 48px;
	font-size: 16px;
}

.scrollup.b-show_scrollBut {
	opacity: 1;
	visibility: visible;
}

.top_awro {
	background: #ee4a79 none repeat scroll 0 0;
	cursor: pointer;
	padding: 6px 8px;
	position: fixed;
	bottom: 59px;
	right: 20px;
	display: none;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	transition: all 0.5s ease;
}

.sale_pro {
	background: #f25252 !important;
}

.margin_top_50 {
	margin-top: 50px;
}

.margin_bottom_30_all {
	margin-bottom: 30px;
}

.text_align_center {
	text-align: center;
}

/*---------------------------------------------------------------------
    header area
---------------------------------------------------------------------*/

header {
    background: #00C2DF;
    min-height: 115px;
}

.logo{
	width: 35%;
	margin: 0 auto;
}

.logo_section {
    background: #fff;
    min-height: 100px;
    text-align: center;
    line-height: 120px;
}

.logo_section::after {
    position: absolute;
    width: 65px;
    height: 119px;
    background: url('../images/head_d.png');
	background-repeat: no-repeat;
    content: "";
    right: -12px;
}

nav.main-menu {
	float: left;
	margin-left: 0;
	top: -10px;
}

.menu-area-main li:hover a,
.menu-area-main li:focus a {
	color: #ebf5c6;
}

.menu-area-main li.active a {
	color: #ebf5c6;
}



.btn-call{
	color: #515151 !important;
	background-color: #fff;
	padding: 15px !important;
	border-radius: 10px;
}

.btn-call .fa-phone{
	color: #B5A36A;
}



/*-- end header middle --*/

.top-bar-info {
	background: #111111;
	padding: 5px 0px;
}

.top-menu-left {
	float: left;
}

.top-menu-left li {
	position: relative;
	display: inline-block;
	margin-right: 11px;
	padding-right: 12px;
}

.top-menu-left li::before {
	content: '';
	position: absolute;
	right: 0;
	top: 9px;
	height: 10px;
	border-right: 1px dotted #999;
}

.top-menu-left li:last-child::before {
	display: none;
}

.top-menu-left li:last-child {
	padding: 0px;
	margin: 0px;
}

.top-menu-left li a {
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
}

.top-menu-left li a:hover {
	color: #38c8a8;
}

.main-menu {
	text-align: center;
}

.main-menu ul {
	margin: 0;
	list-style-type: none;
}

.main-menu ul>li {
	display: inline-block;
	position: relative;
}

.main-menu ul > li a {
    padding: 0 24px 0 24px;
    line-height: 20px;
    font-size: 17px;
    display: block;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.sub-down li {
	background: #ffffff;
}

.main-menu ul>li .sub-down li a {
	color: #114c7d;
	font-size: 15px;
	text-transform: capitalize;
	font-weight: 300;
	padding: 12px 5px;
	position: relative;
	border-bottom: solid #eee 1px;
}

.main-menu ul>li .sub-down li a::before {}

.main-menu ul>li .sub-down li a:hover {
	color: #111111;
}

.main-menu ul>li .sub-down li a:hover::before {}

.main-menu ul li:first-child {
	margin-left: 0;
}

.main-menu ul>li>ul {
	opacity: 0;
	position: absolute;
	text-align: left;
	top: 100%;
	-webkit-transform: scaleY(0);
	transform: scaleY(0);
	-webkit-transform-origin: 0 0 0;
	transform-origin: 0 0 0;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 240px;
	z-index: 999;
	background: #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.main-menu>ul>li:hover>ul {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	visibility: visible;
	opacity: 1;
}

.main-menu ul>li>ul>li {
	margin: 0px;
	position: relative;
	display: block;
}

.main-menu ul>li>ul>li:hover>ul {
	-webkit-transform: scaleY(1);
	transform: scaleY(1);
	visibility: visible;
	opacity: 1;
	left: 100%;
	top: 10px;
}

.main-menu ul>li>ul>li>a {
	background: none !important;
}

.mean-container .mean-nav {
	margin-top: 0px;
	position: absolute;
	top: 100%;
}

.main-menu ul>li {
	position: inherit;
	display: inline-block;
	vertical-align: middle;
}

.nav>li {
	position: inherit;
	display: inline-block;
	vertical-align: middle;
}

.megamenu .sub-down {
	max-width: 1140px;
	width: 100%;
	left: 0;
	margin: 0 auto;
	right: 0;
	padding: 15px 0px;
}

.sub-full {}

.simple-down {
	padding: 15px;
}

.megamenu-categories {
	padding: 10px 0px;
}

.sub-full.megamenu-categories li {
	display: block;
}

.megamenu .sub-full.megamenu-categories ol li a {
	padding: 5px 0px;
	font-size: 15px !important;
	font-weight: 500;
}

.sub-full.megamenu-categories ol li .category-title {
	padding: 15px 0px;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
}

.sub-full.megamenu-categories ol li .category-box a {
	padding: 5px 0px;
}

.menu-add {
	padding: 30px 15px;
}

.menu-add img {
	width: 100%;
}

.main-w img {
	width: 100%;
}

.women-box {
	position: relative;
}

.women-box::before {
	content: "";
	position: absolute;
	background: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
}

.banner-up-text {
	position: absolute;
	bottom: 10px;
	left: 0px;
	right: 0px;
	text-align: center;
}

.text-a {
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
	line-height: 40px;
	font-weight: 700;
}

.text-b {
	color: #fff;
	font-size: 28px;
	text-transform: uppercase;
	line-height: 30px;
	padding: 20px 0px;
}

.text-c {
	color: #ffffff;
	font-size: 31px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 30px;
	padding-bottom: 20px;
}

.megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
	background: #111111;
	color: #ffffff !important;
	display: inline-block;
	padding: 10px 16px;
	border-radius: 2px;
	overflow: hidden;
	font-size: 16px;
}

.sticky-wrapper .sticky-wrapper-header {
	z-index: 20 !important;
	background: #ffffff;
}

.is-sticky .sticky-wrapper-header .middle-area {
	padding: 10px 0px
}

.sticky-wrapper:not(.is-sticky) {
	height: auto !important;
}

.hover-btn {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	background: #111111;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}




.menu-area {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.limit-box {
    margin: 30px 0 0;
}

.main-menu ul.menu-area-main li {
    margin: 0 10px;
}


/* btn 3d */
.tresd {
	position: absolute;
	bottom: -20px;
	--bg: #B5A36A;
	--text-color: #fff;
	position: relative;
	width: 200px;
	border: none;
	background: var(--bg);
	color: var(--text-color);
	padding: 1em 2em 1em 2em;
	font-weight: bold;
	text-transform: uppercase;
	transition: 0.2s;
	border-radius: 5px;
	opacity: 1;
	letter-spacing: 1px;
	box-shadow: #8E7E4B 0px 7px 2px, #000 0px 8px 5px;
	font-size: 16px;
  }
  
  .tresd:hover {
	opacity: 1;
  }
  
  .tresd:active {
	top: 4px;
	box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px;
  }

  /* banner */
  #banner{
	background-image: url(/images/fondo-banner.jpg);
	background-size: cover;
	height: 80vh;
	background-position: bottom;
	position: relative;

  }

  .caja{
	background-color: #fff;
	width: 400px;
	position: absolute;
	top: 35%;
	right: 150px;
	padding: 20px 20px 20px 30px;
  }

  .caja h1{
	font-weight: 600;
	color: #515151;
	font-size: 30px;
  }



  .barra-azul{
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;

  }

.main-container{
	margin-left: 10%;
	margin-right: 10%;
}

  /* barra servicios */
#barra-servicios{
	background-color: #B5A36A;
	padding: 20px;
}
.cont-ser{
	display: flex;
	justify-content: space-between;
}
.ser-info{
	display: flex;
	align-items: center;
	
}
.img-ser img{
	width: 150px;
	margin: 0 auto;
	text-align: center;
}

.dat-serifo h3{
	color: #fff;
	font-weight: 500;
	font-size: 20px;
}

.dat-serifo a{
	color: #fff;
	font-size: 16px;
}
.dat-serifo a:hover{
	color: #00C2DF;
	font-size: 16px;
}

/* nosotros */
#nosotros{
	position: relative;
	margin-bottom: 150px;
}

.iso-chahue{
	position: absolute;
	width: 35%;
	top: 0 ;
}

.cont-us{
	padding-top: 20%;
	display: flex;
	align-items: center;
}

.info-us h2{
	font-size: 4rem;
	color: #515151;
	font-weight: 800;

}

.info-us p{
	font-size: 24px;
	width: 80%;
	font-weight: 600;
}

.data-us{
	margin-top: 20px;
	display: flex;
	align-items: center;
}

.data-us img{
	width: 80px;
}

.data-us p{
	font-weight: 300;
}


#servicios{
	background-color: #E7E7E7;
}
.cont-data{
	padding-top: 5%;
	padding-bottom: 5%;
}

.cont-data h2{
	font-size: 4rem;
	text-align: center;
	font-weight: 800;
	margin-bottom: 0;
}
.cont-data h3{
	font-size: 2rem;
	text-align: center;
}

.servicios{
	padding-top: 5%;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.boxi-ser{
	background-color: #fff;
}

.cont-boxi{
	text-align: left;
	padding: 20px;
}

.cont-boxi h2{
	font-size: 2rem;
	text-align: left;
	color: #515151;
}

.cont-boxi p{
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 20px;
}

.btn-cta{
	background-color: #B5A36A;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}
.btn-cta:hover{
	border: 2px solid #B5A36A;
	color: #B5A36A;
	background-color: transparent;
}

.registro{
	margin-top: 20px;
	background-color: #fff;
	padding: 20px;
}

.cont-regi{
	display: flex;
}

.dat-reg{
	padding: 20px;
	width: 100%;
}
.img-reg{
	padding: 20px;
	width: 100%;
}
.dat-reg h2{
	font-size: 3rem;
	text-align: left;
}



.dat-reg p{
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 20px;
}

.grid-reg{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	margin-bottom: 40px;

}
.grid-reg .fa-circle-check{
	color: #00C2DF;
}
.grid-reg span{
	font-size: 20px;
	color: #000;
}
.img-reg{
	width: 60%;
}

#frase{
	background-color: #B5A36A;
	padding: 40px;
}
.cont-frase{
	
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.info-fa h2{
	font-size: 3rem;
	font-style: italic;
	color: #fff;
	font-weight: 600;
}

.info-fa p{
	color: #fff;
	font-weight: 500;
}

.btn .btn-cta{
	background-color: #fff;
	color: #000;
	padding: 10px 35px 10px 35px;
}

/* telecomunicaciones */

#tele{
	background-image: url(/images/fondo-tel.jpg);
	background-size: cover;
	padding: 20px;
}
.cont-tel{
	width: 50%;
	padding-top: 10%;
	padding-bottom: 10%;
}
.cont-tel h2{
	
	color: #fff;
	width: 40%;
	font-size: 3rem;
	font-weight: 600;
	margin-bottom: 30px;
	line-height: 0.9;
}

.cont-tel p{
	color: #fff;
	font-size: 20px;
	margin-bottom: 30px;
	font-weight: 500;
}

.cont-tel li{
	color: #fff;
	font-size: 20px;
	margin-top: 20px;
}

@media (max-width: 300px){
	#banner{
		background-position: center center;
	}
	.caja{
		right: 20%;
		left: 30%;
		width: 200px;
		
	}
	.caja h1{
		font-size: 19px;
	}
	.tresd{
		font-size: 14px;
		padding: 0.8em 1.5em 0.8em 1.5em;
	}
	/* barra servicios */
	.cont-ser{
		flex-direction: column;
	}
	.ser-info{
		flex-direction: column;
		text-align: center;
	}

	/* nosotros */

	.iso-chahue{
		width: 100%;
		top: -5px;
	}

	.cont-us{
		flex-direction: column;
		padding-top: 50%;
	}

	.info-us h2{
		font-size: 3rem;
	}

	.info-us p{
		width: 100%;
		font-size: 18px;
	}

	.data-us{
		flex-direction: column;
		text-align: justify;
	}

	.img-us{
		margin-top: 10%;
	}

	/* servicios */

	.cont-data h2{
		font-size: 1.5rem;
	}
	.cont-data h3{
		font-size: 1rem;
	}
	.servicios{
		flex-direction: column;
	}
	.cont-boxi h2{
		font-size: 1.5rem;
	}
	.cont-boxi p{
		font-size: 18px;
		text-align: justify;
	}

	.cont-regi{
		flex-direction: column;
	}

	.dat-reg p{
		font-size: 18px;
		text-align: justify;
	}

	.grid-reg{
		grid-template-columns: repeat(1, 1fr);
	}
	.grid-reg span{
		font-size: 18px;
	}
	.img-reg{
		width: 100%;
	}


}

@media (min-width: 320px) and (max-width: 580px){
	#banner{
		background-position: center center;
	}
	.caja{
		right: 20px;
		
		width: 250px;
		
	}
	.caja h1{
		font-size: 19px;
	}
	.tresd{
		font-size: 14px;
		padding: 0.8em 1.5em 0.8em 1.5em;
	}
	/* barra servicios */
	.cont-ser{
		flex-direction: column;
	}
	.ser-info{
		flex-direction: column;
		text-align: center;
	}

	/* nosotros */

	.iso-chahue{
		width: 100%;
		top: -5px;
	}

	.cont-us{
		flex-direction: column;
		padding-top: 50%;
	}

	.info-us h2{
		font-size: 3rem;
	}

	.info-us p{
		width: 100%;
		font-size: 20px;
	}

	.data-us{
		flex-direction: column;
		text-align: justify;
	}

	.img-us{
		margin-top: 10%;
	}

	/* servicios */

	.cont-data h2{
		font-size: 1.5rem;
	}
	.cont-data h3{
		font-size: 1rem;
	}
	.servicios{
		flex-direction: column;
	}
	.cont-boxi h2{
		font-size: 1.5rem;
	}
	.cont-boxi p{
		font-size: 18px;
		text-align: justify;
	}

	.cont-regi{
		flex-direction: column;
	}

	.registro{
		padding: 0;
	}

	.dat-reg p{
		font-size: 18px;
		text-align: justify;
	}

	.grid-reg{
		grid-template-columns: repeat(1, 1fr);
	}
	.grid-reg span{
		font-size: 18px;
	}
	.img-reg{
		width: 100%;
	}



}

